<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Tasks
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="this.SearchValue" placeholder="Task's Name">
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
              </tr>
            </thead>
            <tr *ngFor="let task1 of taskService.allTasks | tasksFilter: this.SearchValue" (click)="onSelect(task1)" [class.selected]="task1 === selectedTask">
              <td class="task-row">{{task1.id}}</td>
              <td class="task-row">{{task1.name}}</td>
              <td class="task-row">{{task1.due_date}}</td>
            </tr>
          </table>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="valueChange-box">
                    <div *ngIf="selectedTask">
                      <label>ID: </label>
                      <input type="number" [(ngModel)]="this.selectedTask.id" placeholder="ID"><br>
                      <label>Department ID: </label>
                      <input type="number" [(ngModel)]="this.selectedTask.department_id" placeholder="Department ID"><br>
                      <label>Name: </label>
                      <input type="text" [(ngModel)]="this.selectedTask.name" placeholder="Name"><br>
                      <label>Employees: </label>
                      <input type="text"[(ngModel)]="this.selectedTask.employees" placeholder="Employees"><br>
                      <label>Date: </label>
                      <input type="date"[(ngModel)]="this.selectedTask.due_date" placeholder="Date">
                    </div>
                    <div>
                      <button class="btn-info" (click)="newTaskClick()">New Task</button>
                      <button class="btn-info" *ngIf="selectedTask" (click)="saveClick()">Save</button>
                      <button class="btn-info" *ngIf="selectedTask" (click)="cancelClick()">Cancel</button>
                      <button class="btn-info" *ngIf="selectedTask" (click)="deleteClick()">Delete</button>
                    </div>
                    
                  </div>
            </div>
            <div class="col-sm-6">
                <app-tasks-detail [theTask]="this.selectedTask"></app-tasks-detail>
            </div>
        </div>
      </div>
    </div>
</div>





