your tasks:
<ul>
    <li class="content-box1" *ngFor="let task1 of allTasks" (click)="onSelect(task1)" [class.selected]="task1 === selectedTask">
      <b>Title:</b> {{ task1.title }}<br> <b>Desc:</b> {{task1.description}}<br> <b>Author:</b> {{task1.author}}
    </li>
</ul>
<div class="rs"></div>
<p *ngIf="selectedTask">Your selected task is {{ this.selectedTask.title }} given by {{ this.selectedTask.author }}</p>

<div *ngIf="selectedTask">
<label>Title </label>
<input [(ngModel)]="this.selectedTask.title" placeholder="title"><br>
<label>Desc </label>
<input [(ngModel)]="this.selectedTask.description" placeholder="desc"><br>
<label>Given By </label>
<input [(ngModel)]="this.selectedTask.author" placeholder="given by">
</div>
<div>
  <button (click)="newTaskClick()">New Task</button>
  <button *ngIf="selectedTask" (click)="saveClick()">Save</button>
  <button *ngIf="selectedTask" (click)="cancelClick()">Cancel</button>
  <button *ngIf="selectedTask" (click)="deleteClick()">Delete</button>
</div>