<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
          Department
         </div>
        <div class="panel-body">
          <div class="row">
                <button type="button" class="btn btn-success add " (click)="Onnew()">+ Add New</button>

              <div class="col-sm-5 form-group inputarea ">
                    <div class="regentry" *ngIf="showNew">
                            <form (ngSubmit)="Onsave()">
                              <div class="form-group row">
                                <label for="id-input" class="col-2 col-form-label">Department Id</label>
                                <div class="col-5">
                                  <input class="form-control" type="value" [(ngModel)]="depmodel.departmenId" name="id">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="departmentname-input" class="col-2 col-form-label">DepartmentName</label>
                                <div class="col-10">
                                  <input class="form-control" type="text" [(ngModel)]="depmodel.departmentname" name="departmentname">
                                </div>
                              </div>
                              <button type="submit" class="btn btn-success ">{{kindofsumbmit}}</button>
                              <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
                            </form>
                        
                  </div>
                  </div>
          </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                          <tr>
                              <th scope="col">Index</th>
                            <th scope="col">Department ID</th>
                            <th scope="col">Department Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dep of departments;let i = index">
                                <th scope="row">{{i+1}}</th> 
                                <td>{{dep.departmenId}}</td>
                                <td>{{ dep.departmentname }}</td>
                                <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>

                                <td><button class="btn btn-danger"(click)="onDelete(i)"type="submit">Delete</button></td>
                              </tr>
                        </tbody>
                      </table>
                </div>
              </div>
          </div>
  
  
            
            
