
<h2>Here below the list of departments</h2>
<p>Name of the departments:</p>
<ul class="departments">
    <li *ngFor="let department of departments"
    (click)="OnSelect(department)">
   <span class="badge">{{department.departmentid}}</span>{{department.departmentname}}
  </li>
</ul>


<div *ngIf="selectedDepartment">
    <h2>{{selectedDepartment.departmentname | uppercase}}</h2>
    <h3>below the information</h3>
    <div><span>The selected id is: </span>{{selectedDepartment.departmentid}}</div><br>
    <div><span>And Department is: </span>{{selectedDepartment.departmentname}}</div><br>
    <div>
      <label>name:
        <input [(ngModel)]="selectedDepartment.departmentname" placeholder="name">
      </label>
    </div>
    <div>
      <button class="btn" (click)="AddDepartment()">AddDepartment</button>
    <button class="btn" (click)="UpdateDepartment()">Change</button>
    <button class="btn" (click)="DeleteDepartment()">delete</button>
	
    </div>

</div>

