<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
          Department
         </div>
        <div class="panel-body">
          <div class="row">
              <div class="col-sm-5 form-group">
                  <form>
                    <label for="department name">Name</label>
                      <input type="text" 
                       id="name"
                        class="form-control"
                        #name1>    
                   </form>
                   <form>
                      <label for="department building">Building</label>
                        <input type="text" 
                         id="building"
                          class="form-control"
                          #building1>    
                     </form>
                   <button type="button" class="btn btn-success add " (click)="addDepartment(name1)">+ Add New</button>
                  </div>
          </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                          <tr>
                              <th scope="col">#</th>
                            <th scope="col">Department ID</th>
                            <th scope="col">Department Name</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dep of departments; let i = index"
                            (click)="Onselect(dep)"
                            [class.active]="dep === selectedDepartment"> <!--*ngfor loop through departments array and dispaly all properties value and i creates a template local variable to get the index of the array -->
                                <th scope="row">{{i+1}}</th> 
                                <td>{{dep.id}}</td>
                                <td>{{ dep.name }}</td>
                                <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                                <button type="button" class="btn btn-danger"(click)="onDelete(i)">Delete</button>
                              </tr>
                        </tbody>
                      </table>
                </div>
              </div>
              <app-department-detail [departmentDetail]="selectedDepartment"></app-department-detail>

          </div>
          
  
  
            
            
