<div *ngIf="employee">
  <h3>Details of {{ employee.first_name }}:</h3>
  <div id="selectedEmployeeDisplay">
    <b>ID:</b> {{ employee.id }}<br> 
    <b>Name:</b> {{ employee.first_name }} {{ employee.last_name }}<br> 
    <b>Date of birth:</b> {{ employee.birth_date }}<br> 
    <b>Works at department:</b> {{ dept.departmentName(employee.department_id) }}<br> 
  </div>
</div>
<br>

<div id="employeeCRUD">

  <div class="row employeeInput">
    <div class="col">
      <input *ngIf="employee" [(ngModel)]="employee.first_name" type="text" class="form-control" id="fName" placeholder="First name"/>
    </div>
    <div class="col">
      <input *ngIf="employee" [(ngModel)]="employee.last_name" type="text" class="form-control" id="lName" placeholder="Last name"/>
    </div>
  </div>

  <div class="row employeeInput">
      <input *ngIf="employee" [(ngModel)]="employee.birth_date" type="date" class="form-control" id="dob" value="2000-0"/>
  </div>

  <div class="row employeeInput">
      <input *ngIf="employee" [(ngModel)]="employee.department_id" type="text" class="form-control" id="deptId" placeholder="20"/>
  </div>

</div>