.otherInput {
    margin-bottom: 5px;
}

.selected{
    background-color: rgb(228, 228, 228);
}

.content-box1{
    display: block;
    border: 3px red solid;
    width: 200px;
    border-radius: 5%;
    margin-bottom: 5px;
    padding-left: 1%;
    cursor: pointer;
}

#selectedEmployeeDisplay {
    margin-left: 20px;
}

button {
    margin-right: 5px;
}

h3 {
    margin-bottom: 0px;
}

input {
    margin-left: 5px;
    width: 200px;
}

label {
    width: 150px;
}