<div>
  <h2>
    Enlisted Employees:
  </h2>
</div>
<div>
  <ul>
    <li class="content-box1" *ngFor="let employee of employees"
    [class.selected]="employee === selectedEmployee"
        (click)="onSelect(employee)">
        {{ employee.first_name }}, {{ employee.last_name }}
    </li>
  </ul>
  <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
  
  <button class="crudButton" (click)="createEmployee()">New Employee</button>
  <button class="crudButton" (click)="changeEmployeeDetails()">Update Changes</button>
  <button class="crudButton" (click)="cancelChanges()">Cancel Changes</button>
  <button class="crudButton" (click)="deleteSelectedEmployee();">Delete Selected</button>
</div>
<br>