<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Enlisted Employees:
    </div>
    <div style="margin-left: 20px;">
      <input id="employeeSearchBar" class="form-control" type="text" [(ngModel)]="term" placeholder="Search Employee..."/>
      <form>
        <div>
            <label><input type="radio" name="asc" value="0" [(ngModel)]="sortSelection"> Ascending</label>
            <label><input type="radio" name="asc" value="1" [(ngModel)]="sortSelection"/> Descending</label>
        </div>
        <button type="button" class="btn btn-dark" (click)="sortById()">Sort by ID</button>
        <button type="button" class="btn btn-dark" (click)="sortByName()">Sort by Name</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.allEmployees | employeeFilter: term"
          [class.selected]="employee === selectedEmployee"
              (click)="onSelect(employee)">
            <td>{{ employee.id }}</td>
            <td class="employeeNameTd">{{ employee.first_name }} {{ employee.last_name }}</td>
          </tr>
        </tbody>
      </table>
      <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
      <div style="margin-bottom: 5px;">
        <button class="btn btn-success add" (click)="createEmployee()">New Employee</button>
        <button class="btn btn-info" (click)="changeEmployeeDetails()">Update Employee</button>
        <button class="btn btn-warning" (click)="cancelChanges()">Cancel Changes</button>
        <button class="btn btn-danger" (click)="deleteSelectedEmployee();">Delete Selected</button>
      </div>
    </div>
  </div>
</div>
<br>
