label {
    width: 150px;
}
button {
    margin-right: 5px;
}
.valueChange-box{
    margin-left: 20px;
}
.navbar{
    background-color: lightblue;
    min-height: auto;
}
.navbar div{
    background-color: lightblue;
    float: left;
    margin-left: 5%;
    cursor: pointer;  
}

.main-box div {
    float: left;
    width: 25%;
    margin-left: 5%;
}

.tasks-box li{
    display: block;
    border: 3px red solid;
    border-radius: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.tasks-box ul{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.tasks-box div{
    margin-right: 5px;
    margin-left: 5px;
    width: 96%;
    margin-bottom: 5px;
}
::ng-deep .card {   
    background-color: rgb(235, 235, 235);    
    border: 3px black solid;
    border-radius: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
::ng-deep .card-body {       
    background-color: white;
    padding-left: 5%;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: grey;
}
::ng-deep .btn.btn-link {          
    padding-right: 50%;
    outline: none;
    text-decoration: none;

}
::ng-deep .btn.btn-link {          
    padding-right: 50%;
    outline: none;
    text-decoration: none;
}
.boxHeader {
    text-align: center;
}

.selected{
    background-color: rgb(228, 228, 228);
}