<div class="container-fluid" *ngIf="this.selectedMenu === 'Dashboard'">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Dashboard
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Tasks
            </div>
            <div class="panel-body">
              <ngb-accordion  #acc="ngbAccordion" [closeOthers]="true" activeIds="">
                <ngb-panel  *ngFor="let task1 of allTasks" (click)="onSelectTask(task1)" [class.selected]="task1 === selectedTask"> 
                  <ng-template ngbPanelTitle>
                    Task: {{task1.id}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <b>ID:</b> {{ task1.id }}<br> 
                    <b>Department ID:</b> {{task1.department_id}}<br> 
                    <b>Name:</b> {{task1.name}}<br> 
                    <b>Employees:</b> {{task1.employees}}<br> 
                    <b>Date:</b> {{task1.due_date}}<br>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Employees
            </div>
            <div class="panel-body">
                <ngb-accordion  #acc="ngbAccordion" [closeOthers]="true" activeIds="">
                    <ngb-panel  *ngFor="let employee of employees" (click)="onSelectEmployee(task1)" [class.selected]="employee === selectedEmployee"> 
                      <ng-template ngbPanelTitle>
                        Employee: {{employee.id}}
                      </ng-template>
                      <ng-template ngbPanelContent>
                          <b>ID:</b> {{ employee.id }}<br> 
                          <b>Name:</b> {{ employee.first_name }} {{ employee.last_name }}<br> 
                          <b>Date of birth:</b> {{ employee.birth_date }}<br> 
                          <b>Works at department:</b> {{ dept.departmentName(employee.department_id) }}<br> 
                     
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>

            </div>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Departments
            </div>
            <div class="panel-body">
              <ngb-accordion  #acc="ngbAccordion" [closeOthers]="true" activeIds="">
                <ngb-panel  *ngFor="let department of departments" (click)="onSelectDepartment(department)" [class.selected]="department === selectedDepartment"> 
                  <ng-template ngbPanelTitle>
                    Department: {{department.id}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <b>ID:</b> {{ department.id }}<br>         
                      <b>Name:</b> {{ department.name }}<br>
                      <p>Employees working in this department:</p> 
                          <ul *ngFor="let emp of SelectedDepartmentEmployees" >
                               
                           <li>{{ emp.first_name }} {{ emp.last_name }}</li>
                          </ul>
                       <p>Task of this department :</p>
                       
                      <ul *ngFor="let task of SelectedDepartmentTasks">
                         <li>{{ task.name }}</li>
                         </ul>
                  </ng-template>

                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
