<div class="navbar">
    <div (click)="onSelectMenu('Dashboard')">Dashboard</div>
    <div (click)="onSelectMenu('Tasks')">Tasks</div>
    <div (click)="onSelectMenu('Employees')">Employees</div>
    <div (click)="onSelectMenu('Departments')">Departments</div>
</div>

<h2>{{selectedMenu}}:</h2>

<div *ngIf="this.selectedMenu === 'Employees'"><app-employees ></app-employees></div>
<div *ngIf="this.selectedMenu === 'Tasks'"><app-tasks ></app-tasks></div>
<div *ngIf="this.selectedMenu === 'Departments'"><app-department ></app-department></div> 

<div class="main-box" *ngIf="this.selectedMenu === 'Dashboard'">
  
  <div class="tasks-box">
    <h3 class="boxHeader">Tasks</h3>
    <ul>
      <li  *ngFor="let task1 of allTasks" (click)="onSelectTask(task1)" [class.selected]="task1 === selectedTask">         
        <b>Name:</b> {{task1.name}}<br>         
        <b>Date:</b> {{task1.due_date}}<br> 
      </li>
    </ul>
    <div *ngIf="selectedTask" class="hoi">
      <b>ID:</b> {{ selectedTask.id }}<br> 
      <b>Department ID:</b> {{selectedTask.department_id}}<br> 
      <b>Name:</b> {{selectedTask.name}}<br> 
      <b>Employees:</b> {{selectedTask.employees}}<br> 
      <b>Date:</b> {{selectedTask.due_date}}<br> 
    </div>    
  </div>

  <div class="tasks-box">
    <h3 class="boxHeader">Employees</h3>
    <ul>
      <li *ngFor="let employee of employees" (click)="onSelectEmployee(employee)" [class.selected]="employee === selectedEmployee">         
        <b>ID:</b> {{ employee.id }}<br>         
        <b>Name:</b> {{ employee.first_name }} {{ employee.last_name }}<br> 
      </li>
    </ul>
    <div *ngIf="selectedEmployee">
      <b>ID:</b> {{ selectedEmployee.id }}<br> 
      <b>Name:</b> {{ selectedEmployee.first_name }} {{ selectedEmployee.last_name }}<br> 
      <b>Date of birth:</b> {{ selectedEmployee.birth_date }}<br> 
      <b>Department ID:</b><br> 
    </div>    
  </div>

  <div>
    <h3 class="boxHeader">Departments</h3>
    Box for Departments!
  </div>
  
</div>