<div class="container-fluid" *ngIf="this.selectedMenu === 'Dashboard'">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Dashboard
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Tasks
            </div>
            <div class="panel-body">
              <ngb-accordion  #acc="ngbAccordion" [closeOthers]="true" activeIds="">
                <ngb-panel  *ngFor="let task1 of allTasks" (click)="onSelectTask(task1)" [class.selected]="task1 === selectedTask"> 
                  <ng-template ngbPanelTitle>
                    Task: {{task1.id}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <b>ID:</b> {{ task1.id }}<br> 
                    <b>Department ID:</b> {{task1.department_id}}<br> 
                    <b>Name:</b> {{task1.name}}<br> 
                    <b>Employees:</b> {{task1.employees}}<br> 
                    <b>Date:</b> {{task1.due_date}}<br>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Employees
            </div>
            <div class="panel-body">
              Employees here!
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Departments
            </div>
            <div class="panel-body">
              Departments here!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-box" *ngIf="this.selectedMenu === 'Dashboard'">
  
  
  

  <div class="tasks-box">
    <h3 class="boxHeader">Employees</h3>
    <ul>
      <li *ngFor="let employee of employees" (click)="onSelectEmployee(employee)" [class.selected]="employee === selectedEmployee">         
        <b>ID:</b> {{ employee.id }}<br>         
        <b>Name:</b> {{ employee.first_name }} {{ employee.last_name }}<br> 
      </li>
    </ul>
    <div *ngIf="selectedEmployee">
      <b>ID:</b> {{ selectedEmployee.id }}<br> 
      <b>Name:</b> {{ selectedEmployee.first_name }} {{ selectedEmployee.last_name }}<br> 
      <b>Date of birth:</b> {{ selectedEmployee.birth_date }}<br> 
      <b>Works at department:</b> {{ dept.departmentName(selectedEmployee.department_id) }}<br> 
    </div>    
  </div>

  <div class="tasks-box">
    <h3 class="boxHeader">Departments</h3>
    <ul>
      <li *ngFor="let department of departments" (click)="onSelectDepartment(department)" [class.selected]="department === selectedDepartment">         
        <b>ID:</b> {{ department.id }}<br>         
        <b>Name:</b> {{ department.name }}<br> 
      </li>
    </ul>
    <div *ngIf="selectedDepartment">
        <p>Selected Department: {{selectedDepartment.name}}</p>
        <p>Employees wroking in this departments</p>
        <ul *ngFor="let emp of SelectedDepartmentEmployees">
          <li>{{ emp.first_name }} {{ emp.last_name }}</li>
        </ul>
        <p>Task for this department</p>
        <ul *ngFor="let task of SelectedDepartmentTasks">
            <li>{{ task.name }}</li>
          </ul>
    </div>
  </div>